body
{
	font-size:14px;
	line-height:24px;
	color:black;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
}

h2
{
	font-size:30px;
	line-height:normal;
	color:black;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
}

b
{
	font-size:30px;
	line-height:normal;
	color:white;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
}