body
{
	font-size:14px;
	line-height:24px;
	color:black;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
	
   min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  
}

.main-header
{
	margin-bottom: 60px;
}

.main-navigation{
	float: left;
	width: 780px;
	min-height: 70px;
}


.user-block {
  float: right;
  width: 140px;

  /* Только для оформления сетки */
  min-height: 70px;
}



.top_title
{
 float: left;
	width: 300px;
	min-height: 70px;

}

.left_block_producers
{
	 margin-bottom: 160px;
}


.form_filtrs{

width: 160px;
padding: 10px 0;
min-height: 570px;
margin-right: 70px;
}

.right_block_products{
	margin-bottom: 80px;
	
	font-size: 12px;
}
.product{
	display: inline-block;
	vertical-align: top;
	width: 220px;
	min-height: 290px;
	margin-right: 20px;
	padding: 0px 10px 10px 10px;
	font-size: 12px;
}

.product:nth-child(3n){

	margin-right: 0px;

}

.container_product{
  float: right;
  margin-left:70px; 
}

ul,
li {
  float:left;
  list-style:none;
  margin:0; padding:0;
}

li {
  padding:2px 10px;
  border:solid 1px; border-color:#46F #238 #238 #46F;
}

/*стили для product*/

.product_title{
	float: left;
	width: 620px;
	min-height: 70px;
}
.container_title
{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 60px;

}
.container_item
{
	width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 730px;
}

.right_block{
	margin-bottom: 80px;
	
	font-size: 12px;
}



.product_title{
	float: left;
}

.left_block{
	float: left;
	margin-right:20px; 

}

.img_big
{
	clear: both;
	width: 460px;
	min-height: 495px;
}

.item2{
	float: left;
	margin-right:10px; 
}
.item3{
	float: left;
	margin-right:10px; 
}
.item4{
	float: right;
	margin-left:0px; 
}

.site_paging{
	vertical-align: center;
}



h2
{
	font-size:30px;
	line-height:normal;
	color:black;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
}

b
{
	font-size:30px;
	line-height:normal;
	color:white;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}


body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

.main-header::before {
  content: ".main-header";
}