body
{
	font-size:14px;
	line-height:24px;
	color:black;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
	
   min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header
{
	margin-bottom: 60px;
}

.main-navigation{
	float: left;
	width: 780px;
}
/* Только для оформления сетки */
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;

  /* Только для оформления сетки */
  min-height: 70px;
}

.top_title
{
	float: left;
	width: 306px;
	min-height: 70px;
	margin-bottom: 30px;

}

.breadcrumbs{
	margin: 0px;
	padding: 0px;
     margin-bottom: 40px;
}


fieldset{
margin-top:20px;
margin-right: 600px;
padding-top: 10px;
float: left;
width: 160px;
min-height: 260px;
}


.right_block_products{
	margin-top:-300px;
	margin-left: 300px;
	float: right;
	font-size: 12px;
}
.product{
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 288px;
	margin-left: -80px;
	margin-right: 70px;
	padding: 0px 10px 10px 10px;
	font-size: 12px;
}

.product:nth-child(3n){

	margin-right: 0px;

}

.site_paging{
	vertical-align: center;
}



h2
{
	font-size:30px;
	line-height:normal;
	color:black;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
}

b
{
	font-size:30px;
	line-height:normal;
	color:white;
	font-weight:bold;
	font-family:"PTSans NarrowBold";
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}